* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.text-center {
    text-align: center;
}
body {
    background-color: crimson;
}
h1 {
    color: white;
    text-transform: uppercase;
    margin: 30px 0;
}
.container {
    width: 80%;
    background-color: white;
    margin: auto;
    border-radius: 10px;
}
.flexbox {
    display: flex;
}
.upper {
    justify-content: center;
}
.field {
    padding: 30px;
}
.field p {
    color: crimson;
    margin-bottom: 20px;
}
.upper input {
    border: 1px solid crimson;
    border-radius: 5px;
    text-align: center;
}
.upper select {
    border: 1px solid crimson;
    border-radius: 5px;
    width: 150px;
}
.lower {
    justify-content: center;
}
.lower input {
    color: crimson;
    background-color: lightgrey;
    font-weight: bold;
    margin: 20px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}
.lower input:active {
    background-color: grey;
    border: purple;
}

.biglietto > .container {
    border-radius: 0;
    padding: 20px;
}
.biglietto > h1 {
    margin-bottom: 0;
}
table {
    width: 100%;
    border-spacing: 0;
}
thead td {
    font-weight: bold;
    border-top: 1px solid grey;
}
tbody tr:last-child td {
    border-bottom: 1px solid grey;
}
table td:first-child {
    background-color: grey;
}
td {
    padding: 10px;
}
#nomePasseggero {
    font-weight: bold;
}